.flex_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.items_container {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.cart_item_container {
  margin-bottom: 2em;
}

.cart_total_price {
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .flex_container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .items_container {
    width: 100%;
  }
}
